
@{
    ViewBag.Title = "UserMaster";
    Layout = "~/Views/Shared/_CommanLayout.cshtml";
}

<h2>UserMaster</h2>

<div class="container-fluid">
    <div class="row">
       <div class="col-md-2">
          UserName
       </div>
        <div class="col-md-2">
           textbox
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            UserName
        </div>
        <div class="col-md-2">
            textbox
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            UserName
        </div>
        <div class="col-md-2">
            textbox
        </div>
    </div>
    <div class="col">
        <div class="col-md-8">
            Table
        </div>
    </div>

</div>