<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="/TransferDeskService/Content/Site.css" rel="stylesheet" />
    <link href="/TransferDeskService/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
footer {
   position:inherit;
   text-align:center;
   bottom:0px;
}
    </style>
</head>
<!--<body>
    <div class="page">
        <div style="text-align:center; padding: 50px;">
            <img src="../../Images/Access_Denied.jpg" />
            <p>You do not have permission to access this page, please refer to your system administrator.</p>
        </div>
    </div>
</body>-->

<body>
    <div class="navbar navbar-fixed-top" style="background-color:whitesmoke;">
        <div class="container">
            <br />
            <div class="navbar-header">
                <p style="display:inline;">
                    <img src="/TransferDeskService/Images/Springer-Nature.jpg" width="250px" height="35px" title="Springer Logo" />
                    <span class="heading" style="padding-left:200px">Manuscript Screening</span>
                    <span style="padding-left:50px"></span>
                </p>
            </div>
        </div>
    </div>
  <br />
    <div class="container body-content">
        <div style="text-align:center; padding: 50px;">
            <img src="/TransferDeskService/Images/Access_Denied.jpg" />
            
            <br />
            <p>You do not have permission to access this page, please refer to your system administrator.</p>
        </div>
        
        <hr />
        <footer>
            Copyright &copy; 2015 | Springer Nature, Part of Springer Science+Business Media
        </footer>
    </div>
</body>


</html>
